/* You can add global styles to this file, and also import other style files */
body{
    height: auto;
    color: #fff;
    background-image: url(./assets/img/coverpdf.jpg);
    background-size: auto;
    background-size: cover;
}